
.dishcard{
    display: flex;
    flex-direction: column;
    width: 192px;
    background-color: rgb(223, 203, 203);
    margin: 10px;
    padding: 5px;
}

.dish{
    height: 170px;
    width:190px;
}