.shimmercontainer{
    display: flex;
    flex-wrap: wrap;
}

.shimmercard{
    background-color: rgb(175, 165, 165);
    display: flex;
    flex-direction: column;
    width: 250px;
    
    margin: 10px;
    padding: 5px;
    height: 400px;
    width: 192px;
}